body {
	font-family: 'Roboto', sans-serif;
    font-style: 18px;
}

section {
	padding: 100px 0;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/* btn start */

.btn {
    padding: 15px 25px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.btn-request {
    background-color: #ba3c3c;
    transition: .1s linear;
}

.btn-request:hover {
    background-color: #9b3333;
    /* color: #ba3c3c; */
}

/* btn end */

/* title start */

.section__title {
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 500;
    margin-bottom: 100px;
    position: relative;
}

.section__title::before {
    content: '';

    display: inline-block;
    width: 165px;
    height: 3px;
    border-radius: 3px;
    background-color: #ba3c3c;

    position: absolute;
    bottom: -18px;
    left: 5px;

    animation: line 7s;
}

@keyframes line {
    0% {
        width: 0;
    }
    100% {
        width: 165px;
    }
}


.section__subtitle {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 25px;
}

.section__subtitle-box__title {
    
}

.min-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
