.about {

}

.about__content {

}

.about__text {
    margin-bottom: 45px;
    width: 500px;
    line-height: 35px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.list__content {
    margin: 0px 0px 25px 15px;
    list-style: none;
    position: relative;
    /* width: 710px; */
    width: 429px;
}

.list__content-right__block {
    position: relative;
}

.about__list {
    position: relative;
}

.about__list-right__block::before {
    content: '';

    width: 3px;
    height: 500px;

    background-color: #ba3c3c;
    display: inline-block;

    position: absolute;

    left: -34%;
    top: 0;
}

.list__content::before {
    content: '\f105';
    font-family: fontawesome;
    color: #ba3c3c;
    position: absolute;
    left: -13px;
}

/* .list__content::before {
    content: '';

    border-left: 5px;
    border-bottom: 5px;
    width: 10px;
    height: 2px;
    background-color: #ba3c3c;


} */